page-open-jobs {
    .jobRight
    {
      width: 20%;
      float: right;
    }
    .jobLeft
    {
      overflow: hidden;
      width: 70%;
      float: right;
      margin-right: 5%;
      margin-top:1px;
    }

    .time
    {
      overflow: hidden;
    }
    .timeLeft
    {
      width: 50%;
      float: right;
    }
    .timeRight
    {
      width: 50%;
      float: left;
    }
}


.alert-radio-group .button-inner{
  margin-right: 30px;
}

.alert-head
{
  text-align: right;
  direction: rtl;
}
.alert-radio-group
{
  text-align: right;
  direction: rtl;
}