<!--
  Generated template for the AllSubstitutePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="Header">

  <ion-navbar >
    <button class="HeaderMenuButton"  ion-button icon-only menuToggle end>
      <ion-icon name="md-menu"></ion-icon>
    </button>
    <ion-title class="HeaderTitle"> צהלה <span class="HeaderSubTitle">עמוד מחליפות</span> </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div>
    <ion-list>
      <div ion-item text-wrap detail-push *ngFor="let sub of Substitute let i=index" side="right" style="direction:rtl;" >
        <div class="jobRight">
          <img class="thumb" src="https://wordsmith.org/words/images/avatar2_large.png" style="width: 100%" />
        </div>
        <div class="jobLeft">
          <div class="time">
            <div class="timeLeft">
              <h3>  {{sub.name}}</h3>
            </div>
          </div>
          <h2>{{sub.address}}</h2>
          <button ion-button (click)="gotoChat(i)">שלח הודעה ל{{sub.name}}</button>
        </div>
      </div>
    </ion-list>
  </div>
</ion-content>
