<!--
  Generated template for the ProjectBidsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation. navPop
-->
<ion-header xmlns="http://www.w3.org/1999/html">

  <ion-navbar hideBackButton >
    <ion-title align="center" class="HeaderTitle"> צהלה <span class="HeaderSubTitle">הצעות לפרוייקט</span> </ion-title>
    <ion-buttons left>
      <button ion-button (click)="goBack()" icon-only>
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <ion-list>
      <ion-item  text-wrap detail-push *ngFor="let bid of Bids let i=index" side="right" style="direction:rtl">
        <div class="jobRight">
          <img src="images/i1.png" style="width: 100%" />
        </div>
        <div class="jobLeft">
          <h2>{{bid.user[0].name}}</h2>
          <h3>{{bid.note[0].info}}</h3>
          <button ion-button style="direction: rtl" (click)="gotoChat(i)">שלחי הודעה ל{{bid.user[0].name}}</button>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
