<!--
  Generated template for the NotesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation. (click)="deleteNote(note.id)"
-->
<ion-header xmlns="http://www.w3.org/1999/html">

    <ion-navbar>
        <button class="HeaderMenuButton" ion-button icon-only menuToggle end>
            <ion-icon name="md-menu"></ion-icon>
        </button>
        <ion-title align="center" class="HeaderTitle"> צהלה <span class="HeaderSubTitle">תבניות</span></ion-title>
        <ion-buttons>
            <button ion-button icon-only (click)="openModal()" class="HeaderLeftButton">
                <ion-icon name="ios-add-circle-outline"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <button ion-button block (click)="openModal()"> הוסיפי תבנית</button>

    <div>
        <ion-list>
            <ion-item text-wrap detail-push *ngFor="let note of Notes let i=index " side="right" style="direction:rtl">

                <div class="time">
                    <div class="timeLeft">
                        <h3>  {{note.title}}</h3>
                        <h2>{{note.info}}</h2>
                    </div>
                    <div class="timeRight" >
                        <ion-icon name="ios-create-outline" (click)="updateModal(i)" class="deleteIcon"></ion-icon>
                        <ion-icon name="ios-trash-outline" (click)="deleteNote(note.id)" class="deleteIcon"></ion-icon>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
