// http://ionicframework.com/docs/theming/

// main color #022850
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


//font-family: 'Secular One', sans-serif;
//font-family: 'Heebo', sans-serif;
//font-family: 'Alef', sans-serif;

@font-face{
  font-family: Alef;
  src: url('../assets/nfonts/alef.woff2') format('woff2');
}

@font-face{
  font-family: H200;
  src: url('../assets/nfonts/heebo200.woff2') format('woff2');
}

@font-face{
  font-family: H500;
  src: url('../assets/nfonts/heebo500.woff2') format('woff2');
}

@font-face{
  font-family: H900;
  src: url('../assets/nfonts/heebo900.woff2') format('woff2');
}

@font-face{
  font-family: secular;
  src: url('../assets/nfonts/secular.woff2') format('woff2');
}


body
{
  font-family: 'Secular One', sans-serif !important;
  background-image:url('../pattern/pat.png');
  repeat:repeat;
}

ion-content
{
  background-image:url('../pattern/pat.png');
  repeat:repeat;
}

.item
{
  background-color:transparent;
}

.Pattern
{
  //background-color: red;

}


.mt10
{
  margin-top: 10px;
}

.mt15
{
  margin-top: 15px;
}

.mt20
{
  margin-top: 20px;
}


.HeaderTitle
{
  text-align: center;
  color:#022850 !important;
  font-family:H900;
  font-weight: bold;
  font-size: 17px !important;
  width: 70%;

  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.HeaderSubTitle
{
  font-size: 12px;
}

.menu-inner
{
  background-color: black !important;
}

.Header
{
  background-color: black !important;
}

.HeaderMenuButton
{
  font-size: 22px;
}

.HeaderLeftButton
{
  font-size: 22px;
}

.ToastClass
{
  direction:rtl;
  text-align:center;
}

.toast-container{
  background-color: #022850;
}

ion-modal {
  position: absolute;
  top: 130px;
  left: 5%;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 90%;
  height:400px;
  border: 3px solid #f2f2f2;
}


.thumb
{
  border-radius: 50%;
  margin-top: 1px;
}

.sideMenuIcon
{
  position: relative;
  top:4px;
  font-size: 23px !important;
}

.sideMenuText
{
  font-weight: bold;
  font-size: 14px;
  margin-right: 6px;
}