// http://ionicframework.com/docs/theming/

// main color #022850
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


//font-family: 'Secular One', sans-serif;
//font-family: 'Heebo', sans-serif;
//font-family: 'Alef', sans-serif;

@font-face{
  font-family: Alef;
  src: url('../assets/nfonts/alef.woff2') format('woff2');
}

@font-face{
  font-family: H200;
  src: url('../assets/nfonts/heebo200.woff2') format('woff2');
}

@font-face{
  font-family: H500;
  src: url('../assets/nfonts/heebo500.woff2') format('woff2');
}

@font-face{
  font-family: H900;
  src: url('../assets/nfonts/heebo900.woff2') format('woff2');
}

@font-face{
  font-family: secular;
  src: url('../assets/nfonts/secular.woff2') format('woff2');
}


body
{
  font-family: 'Secular One', sans-serif !important;
}

.mt10
{
  margin-top: 10px;
}

.mt15
{
  margin-top: 15px;
}

.mt20
{
  margin-top: 20px;
}


.HeaderTitle
{
  text-align: center;
  color:#022850 !important;
  font-family:H900;
  font-weight: bold;
  font-size: 17px !important;
  width: 70%;

  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.HeaderSubTitle
{
  font-size: 12px;
}

.Header
{
  background-color: black !important;
}

.HeaderMenuButton
{
  font-size: 22px;
}

.HeaderLeftButton
{
  font-size: 22px;
}

.ToastClass
{
  direction:rtl;
  text-align:center;
}

.toast-container{
  background-color: #022850;
}