<!-- Generated template for the AddJobModalComponent component -->
<div class="Content">
  <div class="title">
    הכנסת תבנית
  </div>

    <form #f="ngForm" class="Form" >
        <ion-list>
            <ion-item style="text-align: right !important;">
                <ion-input [(ngModel)]="title" name="title" style="text-align: right !important; direction: rtl;" placeholder="הכניסי נושא התבנית"></ion-input>
            </ion-item>
            <ion-item>
                <ion-textarea [(ngModel)]="info" name="info" placeholder="הכניסי תיאור התבנית"></ion-textarea>
            </ion-item>
        </ion-list>

        <div style="width: 100%; margin-top: 50px;" align="center">
            <div style="width: 80%" align="center">
                <button type="submit" ion-button block (click)="onSubmit(f,1)">הוסף תבנית </button>
                <button ion-button block (click)="onSubmit(f,0)" style="background-color: red">בטל תבנית </button>
            </div>
        </div>

    </form>
</div>
